@tailwind base;
@tailwind components;
@tailwind utilities;

/*============================== Configurations ==============================*/
:root {
    /*=============== TOAST ===============*/
    --toastify-toast-width: 450px;

    /*=============== SCROLLBAR ===============*/
    --scrollbar-width: 0.5rem;
    --scrollbar-thumb-bg: theme("boxShadowColor.scrollbar-thumb");
    --scrollbar-track-bg: theme("boxShadowColor.scrollbar-track");
}

/*=============== KEYFRAMES ===============*/
/* GENERIC */
@keyframes scaleIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* SKELETON */
@keyframes skeleton-pulse {
    from {
        background-position: 200% 0;
    }

    to {
        background-position: -200%;
    }
}

/*============================== GENERIC ELEMENTS ==============================*/
@layer base {
    html,
    body {
        @apply text-[16px] md:text-[18px] lg:text-[20px];
    }

    body {
        @apply bg-page scroll-smooth;
    }

    /* TITTLES */
    h1 {
        @apply text-4xl font-bold tracking-tight;
    }
    
    h2 {
        @apply text-3xl font-bold tracking-tight;
    }

    h3 {
        @apply text-2xl font-bold tracking-tight;
    }

    h4 {
        @apply text-xl font-bold tracking-tight;
    }

    h5 {
        @apply text-lg font-bold tracking-tight;
    }

    h6 {
        @apply text-base font-bold tracking-tight;
    }
}

/* SCROLLBAR */
@layer utilities {
    /* DEFAULT */
    ::-webkit-scrollbar {
        width: var(--scrollbar-width);
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 var(--scrollbar-width) var(--scrollbar-width) var(--scrollbar-track-bg);
    }

    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 var(--scrollbar-width) var(--scrollbar-width) var(--scrollbar-thumb-bg);
    }

    .scrollbar--left-margin {
        --scrollbar-width: 1.5rem;

        &::-webkit-scrollbar-track {
            border-left: solid 1rem transparent;
        }

        &::-webkit-scrollbar-thumb {
            border-left: solid 1rem transparent;
        }
    }
}

/*============================== GENERIC CLASSES ==============================*/
@layer utilities {
    /* GENERIC */
    .px-section {
        @apply mx-4 md:mx-16 lg:mx-20;
    }

    .popup-scale {
        animation: scaleIn 0.3s ease-out;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.2);
    }
}

@layer components {
    /* DEFAULT SECTION */
    .section {
        @apply my-12 md:my-24 lg:my-28 px-section;
    }

    /* BUTTON */
    .btn {
        @apply inline-block py-2 px-4 transition-colors duration-200 cursor-pointer;

        &:disabled {
            @apply opacity-50;
        }
    }

        .btn-primary {
            @apply bg-btn-primary border border-btn-primary text-btn-primary;

            &:hover {
                @apply bg-opacity-65 border-transparent;
            }
        }
    
        .btn-secondary {
            @apply bg-btn-secondary border border-btn-secondary transition-colors;
    
            &:hover {
                @apply bg-btn-secondary--hover;
            }
        }

    /* ICONS */
    .icon-primary {
        @apply text-5xl text-icon-primary;
    }

    /* SKELETON */
    .skeleton *:empty {
        background: linear-gradient(
            to right,
            #d1d5db 0%,
            #e5e7eb 20%,
            #d1d5db 40%,
            #e5e7eb 60%,
            #d1d5db 100%
        );
        background-size: 200% 100%;
        animation: skeleton-pulse 1.5s linear infinite;
    }
}
